Button {
    -fx-background-color: #4b4331;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-color: #a9a570;
    -fx-text-fill: yellow;
}

Button:hover {
    -fx-background-color: #776539;
}

Button:pressed {
    -fx-background-color: yellow;
    -fx-text-fill: #776539;
}

ComboBox {
    -fx-background-color: #4b4331;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-color: #a9a570;
}

ComboBox:hover {
    -fx-background-color: #776539;
}

ComboBox .list-cell {
    -fx-text-fill: yellow;
}

ComboBox .list-view .list-cell {
    -fx-text-fill: black;
}
