.button {
    -fx-background-color: #4b4331;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-color: #a9a570;
    -fx-text-fill: yellow;
}

.button:hover {
    -fx-background-color: #776539;
}

.button:pressed {
    -fx-background-color: yellow;
    -fx-text-fill: #776539;
}

.combo-box {
    -fx-background-color: #4b4331;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-color: #a9a570;
}

.combo-box:hover {
    -fx-background-color: #776539;
}

.combo-box .cell {
    -fx-text-fill: yellow;
}

.combo-box .list-view .cell {
    -fx-text-fill: black;
}