FlowPane {
    -fx-background-color: #2b2b2b;
}

#title {
    -fx-background-color: #545454;
    -fx-border-color: #a9a570;
    -fx-padding: 0 0 0 20;
}

#sub-title {
    -fx-background-color: #323232;
}

#title, #sub-title {
    -fx-font-family: "Haettenschweiler";
    -fx-text-fill: white;
}

#left-side-part {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #a9a570;
}

#value {
    -fx-text-fill: #757474;
}

#db-value {
    -fx-text-fill: white;
}

#value, #db-value {
    -fx-font-family: "Arial Narrow";
}

#progress-bar {
    -fx-pref-height: 30px;
    -fx-padding: 6px;
}

#progress-bar .bar {
    -fx-background-color: linear-gradient(to left, #4c4738, #e9ee13);
}

#border-light {
    -fx-background-color: #3a3939;
}