#cross-table {
    -fx-selection-bar: red;
}

#inner-tab-pane {
    -fx-border-color: rgb(140, 140, 48);
}

#inner-tab-pane .tab {
    -fx-padding: 0;
    -fx-border-color: #7a7a40;
    -fx-pref-height: 50;
}

#inner-tab-pane .tab:selected {
    -fx-background-color: linear-gradient(to top, black 0%, black 15%, silver 50%, silver 100%);
}

#inner-tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: #3a3939;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #3a3939;
    -fx-border-color: #2b2b2b;
    -fx-border-width: 2px;
    -fx-background-insets: 0px;
    -fx-font-family: "Haettenschweiler";
}

.table-column {
    -fx-border-color: #2b2b2b;
    -fx-border-width: 2px;
    -fx-font-family: "Arial Narrow";
}

.table-row-cell {
    -fx-background-color: transparent;
}

#cross-table .table-row-cell:selected {
    -fx-background-color: #360707;
}

.table-cell {
    -fx-alignment: CENTER;
}

.table-column .label {
    -fx-alignment: CENTER-LEFT;
    -fx-text-fill: white;
}

.table-column {
    -fx-text-fill: white;
}

.table-view .scroll-bar {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: yellow;
    -fx-background-radius: 15px;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: yellow;
    -fx-background-radius: 15px;
}

.table-cell#first-column-most-played {
    -fx-alignment: CENTER;
    -fx-font-size: 26px;
}

.table-view .filler, .corner {
    -fx-background-color: #2b2b2b;
}

#x {
    -fx-text-fill: #6e6969;
}

#x-style {
    -fx-text-fill: red;
}

#center-right .cell {
    -fx-alignment: CENTER-RIGHT;
}

.table-cell#first-column {
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 26px;
}

#date-label, #big-image-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-view > .virtual-flow > .scroll-bar {
    -fx-font-size: 10pt;
}

#left_pane_main_pane {
    -fx-background-color: #2b2b2b;
}

#cross-table .table-column {
    -fx-alignment: CENTER;
}

#cross-table #first-column {
    -fx-alignment: CENTER-LEFT;
}

#cross-table .table-row-cell:selected .text {
    -fx-fill: yellow;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(to right, #4c4738, #e9ee13);
}

.list-cell {
    -fx-background-color: #2b2b2b;
}

.list-cell:filled:hover {

    -fx-border-color: yellow;
    -fx-background-color: linear-gradient(to right, #4c4738, #e9ee13);
}

#map-title {
    -fx-border-color: yellow;
    -fx-border-radius: 15px;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round;
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}