.tab {
    -fx-background-color: #44433d;
    -fx-background-insets: 2px 10px 2px 2px;
    -fx-border-insets: 2px 10px 2px 2px;
    -fx-border-width: 3px;
}

.tab:selected {
    -fx-background-color: #4b4331;
    -fx-border-color: #f8e704;
    -fx-focus-traversable: false;
}

.tab-label {
    -fx-text-fill: yellow;
    -fx-font-family: "Haettenschweiler";
}

/*Remove the glowing border from focused tab with CSS*/
.tab-pane:focused .focus-indicator {
    -fx-border-color: transparent;
}

#check-box, #check-box-light {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
}

#check-box-light {
    -fx-background-color: #3a3939;
}

#check-box .box {
    -fx-background-color: #2b2b2b;
}

#check-box-light .box {
    -fx-background-color: #3a3939;
}

.scroll-bar:vertical {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 15px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: yellow;
    -fx-background-radius: 15px;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #8f8f39;
}

.scroll-bar:vertical .increment-arrow:hover, .scroll-bar:vertical .decrement-arrow:hover {
    -fx-background-color: yellow;
}